* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

body {
  position: relative;
  background: radial-gradient(rgb(44 92 112), transparent);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  color: #2a2a2a;
}

nav h1 {
  font-style: oblique;
}

nav > ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.book-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 8px 15px;
}

.table-list > li {
  padding: 10px 15px;
}

.info-section li {
  font-size: 20px;
  font-weight: 400;
  color: rgb(238, 237, 237);
  list-style-type: inherit;
}

nav li:nth-child(1),
nav li:nth-child(2) {
  border-right: 2px solid rgb(7, 58, 78);
}

a {
  color: #f5f5f5;
}

li a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 900;
  padding: 5px 15px;
}

.section-one h1 {
  text-align: center;
  color: #2a2a2a;
  margin: 20px 0;
}

#book-lists {
  display: none;
  margin-top: 50px;
}

.form-section h2 {
  color: #2a2a2a;
  font-weight: 800;
  font-size: 32px;
}

.info-section h2 {
  color: #2a2a2a;
  font-size: 28px;
  font-weight: 600;
}

.book-list li h2 {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}

.book-list li .title {
  font-weight: 600;
}

li button {
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

li > button:hover {
  background-color: rgba(202, 0, 0, 0.904);
  color: #fff;
}

.book-list {
  border: 1px solid skyblue;
  width: 70%;
  margin: 0 auto;
}

.book-list > li:nth-child(odd) {
  background-color: rgb(46 95 114 / 45%);
  color: rgb(233, 232, 232);
}

.book-list > li:nth-child(even) {
  background-color: rgb(245, 245, 245);
  color: #2a2a2a;
}

.title-div {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.form-section {
  text-align: center;
  margin-top: 100px;
}

#form input {
  padding: 10px;
  width: 40%;
  margin-top: 10px;
}

#form > button {
  padding: 10px;
  margin-left: 35%;
  background-color: rgb(51 151 191 / 63%);
  color: #fff;
  border: 1px solid skyblue;
  font-size: 18px;
  transition: 1.5s;
}

#form > button:hover {
  background-color: white;
  color: black;
  border-radius: 50%;
}

.error {
  padding: 2px 10px;
  color: rgb(143, 8, 8);
  margin-left: 25%;
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
}

.info-section {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 90px auto;
  padding: 10px;
  gap: 20px;
}

footer p {
  font-size: 18px;
}

.info-section p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(247, 243, 243);
}

footer {
  position: fixed;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

.timeDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 15px;
}

.date {
  font-size: 1.2em;
  font-weight: 700;
  color: #2a2a2a;
}

.time {
  font-size: 1em;
  font-weight: 700;
  color: #2a2a2a;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  nav {
    justify-content: space-between;
    padding: 10px 5px;
    border: none;
  }

  nav h1 {
    font-style: oblique;
    font-size: 16px;
    line-height: 1;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  li {
    list-style: none;
  }

  nav li {
    font-size: 10px;
  }

  li a {
    text-decoration: none;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
  }

  .book-list li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 8px;
    width: 100%;
  }

  .book-list {
    width: 100%;
  }

  #form input {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  }

  #form > button {
    padding: 10px;
    width: 100%;
    margin: 0;
  }

  #form > button:hover {
    border-radius: 0;
  }

  .error {
    padding: 2px;
    color: rgb(143, 8, 8);
    margin-left: 25%;
    font-size: 18px;
    font-weight: 800;
  }

  .info-section {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    padding: 10px;
    gap: 5px;
  }

  .info-section p {
    font-size: 18px;
    font-weight: 400;
  }

  .info-section ul {
    margin-top: 20px;
    margin-left: 25px;
  }

  .info-section li {
    font-size: 18px;
    font-weight: 400;
    color: rgb(238, 237, 237);
    list-style-type: inherit;
  }

  #footer {
    bottom: 0;
  }
}
